
  #header{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #141014;
    text-align: center;
    color:white;
    position:relative;
    width:100%;
    height: 60px;
    list-style: none;
  }
  h1{
    margin: 0px;
    padding: 0px;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 8vh;
    background-color: #141014;
  }
  h1 button:hover{
    background-color: #706b6b66;
  }
  #header li{
    margin-right: 0px;
  }

body {
    margin: 0;
    font-family: "Lato", sans-serif;
    background-color: rgb(119, 0, 0);
  }
  .sidebar i{
    display: none;
  }
  
  .sidebar {
    margin: 0vh;
    padding: 0vh;
    width: 200px;
    background-color: #903131fe;
    position:fixed;
    top: 50px;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #141014;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  .wrapper {
   margin-left: 200px;
   margin-top: 0px;
    padding: 1px 16px;
    height: 1000px;
  }
/*   
  @media screen and (max-width: 1000px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  } */
  
  @media screen and (max-width: 700px) {
    .sidebar a span {
        display:none;
    }
    .sidebar i{
        display:block;
    color: black;
    padding: 16px;
    text-decoration: none;
    }
    .sidebar{
    width: 70px;
    }
    .wrapper{
        margin-left: 70px;
    }
  }